img.imagenCarrusel{
    display:block;
	max-height: 250px;
    margin: auto;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0 5px 5px #777;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 5px 5px #777;
    border-radius: 10px;
    box-shadow: 0 5px 5px #777;
    height: 100%;
    width: 100%;
}
a.elemento-nobi{
    width: 200px;
    color: #000;
    text-align: center;
    text-decoration: none;
}
a.elemento-nobi:hover{
    text-decoration: none;
}
a.elemento-nobi p{
    width: 200px;
    display:none;
}
.titulos-secciones{
    text-align: center;
    
}
